.idea
*.tif
/.project
/.vscode
*.code-workspace
**/__pycache__/
*.pyc
server/guppy/config.yml
*/config.yml.*
*config*.yml
*config*.yaml
# Ignore all files in the content directory
server/guppy2/content/*